[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-seed = "*"
django-countries = "*"
psycopg2-binary = "*"
requests = "*"
django-storages = "*"
boto3 = "*"

[dev-packages]
awsebcli = "*"

[requires]
python_version = "3.9"
