{% extends 'base.html' %}

{% block page_name %}
{{user.first_name}}님의 프로필 수정
{% endblock page_name %}


{% block content %}
<div class="container mx-auto my-32 flex flex-col items-center border p-6 border-gray-400 lg:w-5/12 md:w-1/2 xl:w-1/4">


    <form action="{% url 'users:edit_profile' user.pk %}" method="POST" class="mt-7 flex flex-col w-full"
        enctype="multipart/form-data">

        {% csrf_token %}


        {% for field in form %}
        {% if field.errors %}

        {% for error in field.errors %}
        <span class=" text-red-500 font-light mb-2">{{error}}</span>
        {% endfor %}
        {% endif %}

        {{field}}

        {% endfor %}




        <button class="bg-red-400 w-full text-center py-5 text-white mt-7 shadow-sm rounded-sm">프로필 수정하기</button>
    </form>
    <a href="{% url 'users:change_password' user.pk %}"><span class="text-green-500">비밀번호 변경하기</span></a>
</div>

{% endblock content %}